In [1]:
import pandas as pd

In [8]:
df = pd.read_csv("Dataset/nfl_elo.csv")
pd.set_option('display.max_columns', None)

In [17]:
base = 'GB'

df = df[df['season'] > 2000]
df

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,elo1_post,elo2_post,qbelo1_pre,qbelo2_pre,qb1,qb2,qb1_value_pre,qb2_value_pre,qb1_adj,qb2_adj,qbelo_prob1,qbelo_prob2,qb1_game_value,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2,quality,importance,total_rating
11476,2001-09-09,2001,0,NaN,JAX,PIT,1502.466000,1520.072000,0.567786,0.432214,1527.382000,1495.157000,1529.217966,1491.875680,Mark Brunell,Kordell Stewart,105.790394,90.124116,3.635823,3.479923,0.633839,0.366161,224.829627,-22.365624,117.694318,78.875142,1549.885266,1471.208379,21,3,56.0,NaN,NaN
11477,2001-09-09,2001,0,NaN,DAL,TB,1449.774000,1569.911000,0.421311,0.578689,1436.544000,1583.141000,1419.187023,1576.508194,Quincy Carter,Brad Johnson,79.115313,82.940910,4.670533,5.172406,0.361126,0.638874,-114.098901,129.697467,59.793891,87.616566,1408.063875,1587.631342,6,10,48.0,NaN,NaN
11478,2001-09-09,2001,0,NaN,GB,DET,1556.165000,1509.406000,0.655507,0.344493,1576.724000,1488.848000,1541.932511,1484.621817,Brett Favre,Charlie Batch,96.041004,39.892561,0.154485,-1.360276,0.659704,0.340296,221.209822,-130.547706,108.557885,22.848535,1562.212351,1464.341977,28,6,55.0,NaN,NaN
11479,2001-09-09,2001,0,NaN,SF,ATL,1456.597000,1404.460000,0.662464,0.337536,1465.483000,1395.575000,1465.380705,1402.886607,Jeff Garcia,Chris Chandler,174.795550,23.050686,7.873986,-7.602499,0.693092,0.306908,229.560997,47.290247,180.272095,25.474642,1473.375733,1394.891579,16,13,17.0,NaN,NaN
11480,2001-09-09,2001,0,NaN,TEN,MIA,1603.825000,1568.090000,0.641039,0.358961,1574.303000,1597.611000,1612.202793,1520.339927,Steve McNair,Jay Fiedler,113.219389,52.522784,0.376820,-3.378953,0.707973,0.292027,38.145414,281.912340,105.711991,75.461739,1578.752208,1553.790512,23,31,78.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17090,2022-01-23,2021,0,d,TB,LAR,1681.797158,1632.341105,0.659005,0.340995,1662.522916,1651.615346,1649.547292,1615.165080,Tom Brady,Matthew Stafford,249.882409,179.870436,11.456236,-0.623739,0.681440,0.318560,132.180809,379.027146,238.112249,199.786107,1629.446888,1635.265484,27,30,96.0,100.0,98.0
17091,2022-01-23,2021,0,d,KC,BUF,1699.470145,1683.332367,0.614689,0.385311,1713.932369,1668.870143,1687.450699,1656.910634,Patrick Mahomes,Josh Allen,273.771767,275.630099,20.577067,18.202487,0.652720,0.347280,622.042187,434.101420,308.598809,291.477231,1700.324756,1644.036577,42,36,100.0,100.0,100.0
17092,2022-01-30,2021,0,c,KC,CIN,1713.932369,1569.498961,0.769519,0.230481,1690.352000,1593.079331,1700.324756,1559.717895,Patrick Mahomes,Joe Burrow,308.598809,190.637925,36.961734,24.405309,0.810417,0.189583,134.683170,153.972640,291.207245,186.971396,1674.943733,1585.098917,24,27,98.0,100.0,99.0
17093,2022-01-30,2021,0,c,LAR,SF,1651.615346,1621.465562,0.633608,0.366392,1661.352751,1611.728157,1635.265484,1631.632019,Matthew Stafford,Jimmy Garoppolo,199.786107,117.398901,9.365284,-11.464001,0.636093,0.363907,248.504596,197.148060,204.657956,125.373817,1644.929010,1621.968494,20,17,96.0,100.0,98.0
17094,2022-02-13,2021,1,s,CIN,LAR,1593.079331,1661.352751,0.317089,0.682911,1584.789928,1669.642154,1585.098917,1644.929010,Joe Burrow,Matthew Stafford,186.971396,204.657956,21.351780,11.332944,0.315060,0.684940,85.946948,160.915302,176.868952,200.283690,1576.868287,1653.159640,20,23,95.0,100.0,98.0

In [24]:
df['label'] = (df['score1'] > df['score2']).astype(int)

In [25]:
df['home_away'] =

       score1  score2  label
11476      21       3      1
11477       6      10      0
11478      28       6      1
11479      16      13      1
11480      23      31      0
...       ...     ...    ...
17090      27      30      0
17091      42      36      1
17092      24      27      0
17093      20      17      1
17094      20      23      0

[5619 rows x 3 columns]

In [27]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split 
from sklearn import metrics
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score

In [49]:
X = df[['elo1_pre','elo2_pre', 'qbelo1_pre', 'qbelo2_pre', 'quality', 'qb1_adj', 'qb2_adj']]
Y = df['label']
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3)

In [50]:
# Raw Base model
clf_base = RandomForestClassifier(n_estimators=5)

clf_base.fit(X_train, y_train)

y_pred_base_rf = clf_base.predict(X_test)

# Performance metrics
print('Accuracy:', accuracy_score(y_pred_base_rf, y_test))

Accuracy: 0.5937129300118624

In [47]:
from xgboost import XGBClassifier
from sklearn.model_selection import cross_val_score

In [48]:
xgb = XGBClassifier(use_label_encoder=False, eval_metric = 'auc')

# Fit model
xgb.fit(X_train, y_train)

# Look at cv score
print(cross_val_score(XGBClassifier(eval_metric ='auc', use_label_encoder=False), X_train, y_train))

/Users/jamesyang/opt/anaconda3/lib/python3.9/site-packages/xgboost/data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
/Users/jamesyang/opt/anaconda3/lib/python3.9/site-packages/xgboost/data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
/Users/jamesyang/opt/anaconda3/lib/python3.9/site-packages/xgboost/data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
/Users/jamesyang/opt/anaconda3/lib/python3.9/site-packages/xgboost/data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
/Users/jamesyang/opt/anaconda3/lib/python3.9/site-packages/xgboost/data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

[0.60482846 0.59466328 0.59339263 0.60050891 0.59541985]

/Users/jamesyang/opt/anaconda3/lib/python3.9/site-packages/xgboost/data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):